<h1>Now Playing</h1>
{{#each movies}}
  <h3>{{this.title}}</h3>
  <p>
    <img src="https://image.tmdb.org/t/p/w1280/{{this.poster_path}}" width="250">
    <h2><a href="/movies/{{this.id}}"></a></h2>
  </p>
{{/each}}
